<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form method = 'POST'>
<table>
    <tr>
        <td>
            Number_1
        </td>
        <td>
            <input type = "number" name = "number_1" placeholder="Enter a number" required>
        </td>
    </tr>
    <tr>
        <td>
            Number_2
        </td>
        <td>
            <input type = "number" name = "number_2" placeholder="Enter a number" required>
        </td>
    </tr>
     <tr>
        <td>
            Operator
        </td>
        <td>
            <input type = 'name' name = "operator" placeholder="Enter the operator" required>
        </td>
    </tr>
    <tr>
         <td>
            <button type="button"><input type = "Submit"></button>
        </td>
<!--        <td>-->
<!--            <button type="button">Substraction</button>-->
<!--        </td>-->
<!--        <td>-->
<!--            <button type="button">Multiplication</button>-->
<!--        </td>-->
    </tr>
</table>
</form>
</body>
</html>