<!DOCTYPE html>
<html>
<head>
    <title>Bill</title>
</head>
<body>
    <h1>Bill</h1>
    <table border="1">
        <tr>
            <th>Dish</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
        {% for bill in bill_details %}
        <tr>
            <td>{{bill.dish}}</td>
            <td>{{bill.quantity}}</td>
            <td>{{bill.price}}</td>
            <td>{{bill.total_price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total Bill:</td>
            <td>{{ total_bill }}</td>
        </tr>
    </table>
</body>
</html>