<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hotel menu</title>
</head>
<body>
<h1> HOTEL MENU</h1>
<form method="POST">
    <table border="1">
        <th>DISH NAME</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <tr>
        <td>
            DOSA
        </td>

            <td>
              15.00
            </td>
          <td>
              <input type="checkbox" name="dosa" >
              <input type="number" name="dosa" placeholder="Enter the quantity" min=0>
          </td>
        </tr>
            <tr>
        <td>
            IDLY
        </td>

            <td>
              12.00
            </td>
          <td>
              <input type="checkbox" name="idly" >
              <input type="number" name="idly" placeholder="Enter the quantity" min="0">
          </td>
            </tr>
      <tr>
        <td>
            PONGAL
        </td>

            <td>
              20.00
            </td>
          <td>
              <input type="checkbox" name="pongal" >
              <input type="number" name="pongal" placeholder="Enter the quantity" min=0>
          </td>
      </tr>
        <tr>
        <td>
            VADA
        </td>

            <td>
              5.00
            </td>
          <td>
              <input type="checkbox" name="vada" >
              <input type="number" name="vada" placeholder="Enter the quantity" min=0>
          </td>
        </tr>
        <tr>
        <td>
            POORI
        </td>

            <td>
              23.00
            </td>
          <td>
              <input type="checkbox" name="poori" >
              <input type="number" name="poori" placeholder="Enter the quantity" min=0>
          </td>
        </tr>
        <tr>
        <td>
            TEA
        </td>

            <td>
              5.00
            </td>
          <td>
              <input type="checkbox" name="tea" >
              <input type="number" name="tea" placeholder="Enter the quantity" min=0>
          </td>
        </tr>
        <tr>
        <td>
            COFFEE
        </td>

            <td>
              15.00
            </td>
          <td>
              <input type="checkbox" name="coffee" >
              <input type="number" name="coffee" placeholder="Enter the quantity" min=0>
          </td>
        </tr>
        <tr>
        <td>
            MILK
        </td>

            <td>
              13.00
            </td>
          <td>
              <input type="checkbox" name="milk" >
              <input type="number" name="milk" placeholder="Enter the quantity" min=0>
          </td>
        </tr>

    <tr>
        <td>
            <button type="submit">submit</button>
        </td>
    </tr>
    </table>
</form>
</body>
</html>